*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Arial,
sans-serif;

background:#0f172a;

color:white;

}



.app{

max-width:420px;

margin:auto;

padding:20px;

}



h1{

text-align:center;

}



.language-box{

display:flex;

gap:10px;

justify-content:center;

margin-bottom:20px;

}



select{

padding:10px;

border-radius:10px;

font-size:16px;

}



#swap{

border:0;

border-radius:50%;

font-size:20px;

}



.card{

background:#1e293b;

padding:20px;

border-radius:20px;

text-align:center;

}



.text-box{

background:#334155;

padding:15px;

margin:10px 0;

border-radius:12px;

min-height:50px;

}



.translate{

background:#14532d;

}



.mic{

width:90px;

height:90px;

border-radius:50%;

font-size:40px;

border:none;

background:#22c55e;

cursor:pointer;

}



.mic:active{

transform:scale(0.9);

}



.history{

margin-top:20px;

background:#1e293b;

padding:15px;

border-radius:15px;

}



.chat-item{

padding:10px;

border-bottom:1px solid #475569;

}